*{
box-sizing: border-box; /*incorpora margem e padding dentro de uma caixa*/
}

body{
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden; /*faz a barra de rolagem sumir, x é horizontal*/
}

/*Cabeçalho*/

.logo{
    width: auto;
    height: 100px;
    
}
header{
    display: flex;
    background-color: black;
    justify-content: space-between; /*Coloca a logo para a esquerda e botão Entrar para a direita*/
    align-items: center; /*Alinha os itens verticalmente ao centro*/
    padding: 20px 50px;
    position: fixed;
    top: 0;
    width: 100%; /*largura*/
    z-index: 10;
   }
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
}
.botao-login{
    

}

/*Cards de Filmes*/

.lista-filmes{
    display: flex;
    padding: 20px 0;
    justify-content: space-between; /* deve ser usado no "Pai", coloca o mesmo espaçamento em cada um dos cards*/


}
.card{
    flex: 1; /*abreviação para flex-grow:1, flex-shrink:1, flex-basis:0%*/
    background-color: #181818;  
    border-radius: 8px;  
    overflow: hidden; /*Tira a barra de rolagem*/
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.card img{
    width: 100%; /* Ocupa toda a largura da div*/
    height: 85%; /* Altura horizontal*/
    object-fit: cover; /* Mantém a foto sem distorção */
    display: block;
    
}
.card h4 {
    padding: 12px 5px;
    text-align: center;
    font-weight: normal;
}

/*Rodapé*/

footer{
    display: flex;
    flex-direction: column; /*Alinha na vertical*/
    margin: 80px auto 40px auto; /* Centraliza o bloco do rodapé na tela e afasta dos filmes */
    padding: 50px;
    align-items: center; /* Alinha a esquerda */
    gap: 20px;
}
.redes-sociais{
    display: flex; /* Alinha os links na horizontal */
    gap: 20px;
       
}
.redes-sociais img{
    width: 30px;
    height: 30px;
}

.links-footer{
    display: flex; /* Alinha os links na horizontal */
    gap: 20px;
    width: 100%; /* Ocupa toda a largura disponível do rodapé */
    flex-wrap: wrap; /* Caso falte espaço, os links quebram linha de forma organizada */
    justify-content: space-between; /* Distribui as colunas igualmente na horizontal */
}

.links-footer a:hover{
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
}

.coluna-links{
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento vertical entre um link e outro */
    min-width: 150px; /* Garante um tamanho mínimo para não esmagar o texto */
}

.copyright {
    color: #808080;
    font-size: 0.7rem;
    margin-top: 15px;
}

