*{
box-sizing: border-box; /*incorpora margem e padding dentro de uma caixa*/
}

body{
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden; /*faz a barra de rolagem sumir, x é horizontal*/
    font-family: Arial, Helvetica, sans-serif;
}

/*Cabeçalho*/

.logo{
    width: auto;
    height: 30px;
    
}
.header-lado-esquerdo {
    display: flex;
    align-items: center;
    gap: 30px; /* Dá um espaço de 30px entre o logotipo e o início do menu */
}
header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center; /*Alinha os itens verticalmente ao centro*/
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /*largura*/
    z-index: 10;
   }
   
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}
.navbar a:hover {
    background-color: #808080;
    border-radius: 15px;
    padding: 8px 10px ;
    cursor: pointer;
}
/*Botões da Nav*/
.botoes-header{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.botoes-header img{
    width: 30px;
    height: 30px;
}


/*Banner*/
.banner-principal {
    margin-top: 50px;
    width: 100%;
    height: 900px;
    overflow: hidden;
    background-color: aqua; /*só pra ver o tamanho do container*/
   
}

.carrossel-banner{
    width: 100%;
    overflow: hidden;
}
.linha-banner{
    display: flex;
    gap: 15px;
    width: max-content;
    animation: autoRun 20s linear infinite;
}
.carrossel-banner .linha-banner:hover {
    animation-play-state: paused;
}

.carrossel-banner .linha-banner:hover .principal {
    filter: grayscale(1);
}

.carrossel-banner .linha-banner:hover .principal:hover {
    filter: grayscale(0);
}
  


.botoes {
    display: flex;/* Deixa os botões lado a lado */
    gap: 15px;/* Espaço entre os botões */
    z-index: 1;
    position: absolute;
    margin-top: -280px;
}
.botoes button {
    padding: 12px 25px;
    font-size: 1.0rem;
    font-weight: bold; /*fonte em negreito*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.botoes button:hover{
    background-color: #adabab;
}

/*Cards de Filmes*/

.lista-filmes{
    display: flex;
    padding: 20px 0;
    justify-content: space-between; /* deve ser usado no "Pai", coloca o mesmo espaçamento em cada um dos cards*/
    gap: 20px;
    margin: 50px;
}
.titulo-categoria{
    margin-left: 50px;
    margin-bottom: -50px;
    font-size: 1.7rem;
    
}

.card{
    flex: 1; /*abreviação para flex-grow:1, flex-shrink:1, flex-basis:0%*/
    background-color: #181818;  
    border-radius: 8px;  
    overflow: hidden; /*Tira a barra de rolagem*/
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    
}

.card img{
    width: 100%; /* Ocupa toda a largura da div*/
    height: 85%; /* Altura horizontal*/
    object-fit: cover; /* Mantém a foto sem distorção */
    display: block;
    
}
.card h4 {
    padding: 12px 5px;
    text-align: center;
    font-weight: normal;
}

/*Carrossel*/

.container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: 15px;
    
}
.carrossel {
   width: 100%;
   overflow: hidden;
   
}
.linha {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: autoRun 15s linear infinite; /*depois de criar o kayframes precisa associar nessa tag*/

}

.item{
    width: 280px;
    height: 500px;
    background-color: #181818;
    border-radius: 8px;  
    cursor: pointer;
    flex-shrink: 0; /*pra uma informação não expremer a outra*/
    
}
.item img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    
    
}
.item h4{
    text-align: center;
}
.titulo-carrossel{
    margin-left: 50px;
    font-size: 1.7rem;
}

/*Animação*/
@keyframes autoRun /*o keyframe basicamente é eu onformar qual a posição inicial e fnal do meu item, e em quanto tempo ele leva de um ponto a outro*/{
    from{
      transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }

}
.carrossel .linha:hover {
    animation-play-state: paused;
}

.carrossel .linha:hover .item {
    filter: grayscale(1);
}

.carrossel .linha:hover .item:hover {
    filter: grayscale(0);
}

    
/*Rodapé*/

footer{
    display: flex;
    flex-direction: column; /*Alinha na vertical*/
    margin: 10px auto 10px auto; /* Centraliza o bloco do rodapé na tela e afasta dos filmes */
    padding: 10px;/*espaço dentro do elemento*/
    align-items: center; /* Alinha ao centro */
    gap: 20px;
}
.redes-sociais{
    display: flex; /* Alinha os links na horizontal */
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
       
}
.redes-sociais img{
    width: 25px;
    height: 25px;
    
}

.links-footer{
    display: flex; /* Alinha os links na horizontal */
    gap: 35px;
    width: 100%; /* Ocupa toda a largura disponível do rodapé */
    flex-wrap: wrap; /* Caso falte espaço, os links quebram linha de forma organizada */
    justify-content: space-between; /* Distribui as colunas igualmente na horizontal */
    font-size: 0.9rem;
    color: #808080;
}

.links-footer a:hover{
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
}

.coluna-links{
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento vertical entre um link e outro */
    min-width: 150px; /* Garante um tamanho mínimo para não esmagar o texto */
}

.copyright {
    color: #808080;
    font-size: 0.7rem;
    margin-top: 15px;
}

