*{
box-sizing: border-box; /*incorpora margem e padding dentro de uma caixa*/
}

body{
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden; /*faz a barra de rolagem sumir, x é horizontal*/
}

/*Cabeçalho*/

.logo{
    width: auto;
    height: 100px;
    
}
header{
    display: flex;
    background-color: black;
    justify-content: space-between; /*Coloca a logo para a esquerda e botão Entrar para a direita*/
    align-items: center; /*Alinha os itens verticalmente ao centro*/
    padding: 20px 50px;
    position: fixed;
    top: 0;
    width: 100%; /*largura*/
    z-index: 10;
   }
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
}
.botao-login{
    

}

/*Cards de Filmes*/

.lista-filmes{
    display: flex;
    gap: 20px;
    overflow-x: auto;

}
.card{
    width: 180px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

/*Rodapé*/

footer{
    display: flex;
    flex-direction: column; /*Alinha na vertical*/
    margin: 80px auto 40px auto; /* Centraliza o bloco do rodapé na tela e afasta dos filmes */
    padding: 50px;
    align-items: center; /* Alinha a esquerda */
    gap: 20px;
}
.redes-sociais{
    display: flex; /* Alinha os links na horizontal */
    gap: 20px;
       
}
.redes-sociais img{
    width: 30px;
    height: 30px;
}
.links-footer{
    display: flex; /* Alinha os links na horizontal */
    gap: 20px;
    width: 100%; /* Ocupa toda a largura disponível do rodapé */
    flex-wrap: wrap; /* Caso falte espaço, os links quebram linha de forma organizada */
    justify-content: space-between; /* Distribui as colunas igualmente na horizontal */
}

.coluna-links{
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento vertical entre um link e outro */
    min-width: 150px; /* Garante um tamanho mínimo para não esmagar o texto */
}

.copyright {
    color: #808080;
    font-size: 0.7rem;
    margin-top: 15px;
}

/*Teste de Imagem*/
.testeconteiner{
    display: flex;
    justify-content:start;
    padding: 40px 4%;

}
.lista-teste{
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
}
